.chatSpace{
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .chatBox {
    width: 500%;
    max-width: 1600px;
    height: 650px;
    background: rgba(181, 212, 202, 0.137); 
    backdrop-filter: blur(19px) saturate(180%);
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(209, 199, 199, 0.1); 
    border: 1px solid rgba(207, 221, 216, 0.123); 
    padding: 20px;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
       border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
       border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgb(35, 44, 31); 
    }
    scrollbar-width: thin;
    scrollbar-color: rgba(181, 212, 202, 0.082) rgba(181, 212, 202, 0);
    
    display: flex;
    // justify-content: center;
    // align-items: center;
  }
}
