.chats {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

/* TOP */
.top {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  align-items: center;

  .user {
    display: flex;
    align-items: center;

    .texts {
      display: flex;
      flex-direction: column;

      span {
        font-size: 16px;
        font-weight: 500;
      }

      p {
        font-size: 13px;
        color: #777;
      }
    }
  }

  .userIcons {
    display: flex;
    gap: 12px;

    & > * {
      cursor: pointer;
    }
  }
}

/* MESSAGES */
.center {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* MESSAGE */
.message {
  display: flex;
  gap: 10px;
  max-width: 70%;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 6px;

    p {
      background: rgba(57, 61, 68, 0.5);
      padding: 10px;
      border-radius: 10px;
      color: white;
    }

    span {
      font-size: 11px;
      color: #777;
    }
  }

  &.own {
    margin-left: auto;
    flex-direction: row-reverse;

    .text p {
      background: rgb(35, 44, 31);
    }
  }
}

/* INPUT */
.bottom {
  display: flex;
  align-items: center;
  padding: 12px;
  border-top: 1px solid grey;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: rgba(57, 61, 68, 0.5);
  color: #fff;
}

.sendButton {
  background: rgb(35, 44, 31);
  padding: 10px 16px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .message {
    max-width: 90%;
  }

  .bottom {
    flex-wrap: wrap;
  }
}